Label{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-min-width: 240;
    -fx-max-width: 400;
}
HBox{
    -fx-spacing: 20;
}
VBox{
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-padding: 10;
}
TextField,PasswordField{
    -fx-padding: 5;
}