TextField, PasswordField, Button ,ComboBox , ToggleButton {
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

HBox{
    -fx-spacing: 20;
}
Label{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-min-width: 160;
    -fx-max-width: 450;
    -fx-text-fill: white;
}
CheckBox{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 25px;
}

.table-view{
    -fx-fixed-cell-size: 40px;
}