Button {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-min-width: 350;
    -fx-max-width: 350;
    -fx-min-height: 80;
    -fx-max-height: 80;
}

ComboBox{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}
